extends layout

block content
  include header.jade
  #main-container.homepage.container
    .row
      .col-md-3.welcome
        .rounded-shadow
          a(href="#", target="_blank")
            img.img-responsive(src="/images/atn.png", alt="Animal Telemetry Network")
      .col-md-9
        .caption.caption-header
          h3 IOOS Animal Telemetry Network
          p.
            The ATN data management vision includes a regionally distributed data collection, management and sharing capacity that builds on and integrates as many existing data links as possible to enable local and regional needs to be addressed. At the heart of this system is a centralized data assembly center (DAC) currently located at the Stanford U. Hopkins Marine Station.  This DAC is a community resource where regional telemetry data is aggregated in a single place and one-stop-shopping is provided for access to all U.S. national animal telemetry data. The DAC both serves national stakeholder needs effectively as well as enables cost/time savings to principal investigators.

    hr
    .row.map
      .col-md-12
        a(href="http://oceanview.pfeg.noaa.gov/ATN/", target="_blank")
          #helper-overlay
            p Click here to see the map
          img.img-responsive(src="/images/screenshot.jpg", alt="ATN screenshot", style="width: 100%;")
    .row.caption
      .col-md-12
    hr
    .row
      .section-heading
        h1 ATN Resources
    .row
      .col-sm-6.col-md-4
        ul.nav.nav-pills.glider-resources
          li.dropdown(role="presentation")
            a#drop2.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
              | Data Visualization &amp; Access
            ul#menu2.dropdown-menu(aria-labelledby="drop2")
              li
                a(href="http://mola.stanford.edu/atnbackenddocs/Animations/", target="_blank") mola.stanford.edu
             
      .col-sm-6.col-md-4
        ul.nav.nav-pills.glider-resources
          li.dropdown(role="presentation")
            a#drop3.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
              | Documentation
            ul#menu3.dropdown-menu(aria-labelledby="drop3")
              li
                a(href="https://ioos.noaa.gov/project/atn/", target="_blank") ATN Project page
              li.divider(role="separator")
              li
                a(href="https://www.ioos.noaa.gov/wp-content/uploads/2016/04/National-ATN-SP_Draft_Final-1.pdf", target="_blank") ATN Strategy and Recommendations
              li.divider(role="separator")
              li
                a(href="https://www.ioos.noaa.gov/wp-content/uploads/2016/04/art_10.1186_s40317-015-0092-1.pdf", target="_blank") Animal Biotelemetry Paper
              li.divider(role="separator")
              li
                a(href="https://ioos.noaa.gov/wp-content/uploads/2016/04/ATN-Implementation-Plan-12-22-16.pdf", target="_blank") ATN Implementation Plan
              li.divider(role="separator")
              li
                a(href="https://ioos.noaa.gov/wp-content/uploads/2017/08/ATN-SG-1-Meeting_FINAL.pdf", target="_blank") ATN Steering Group Meeting, SG-1, June 5-6, 2017 Minutes

      .col-sm-6.col-md-4
        ul.nav.nav-pills.glider-resources
          li.dropdown(role="presentation")
            a#drop4.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
              | Data Provider Tools
            ul#menu4.dropdown-menu(aria-labelledby="drop4")
              li
                a(href="http://oceanview.pfeg.noaa.gov/ATN_docs/#!/help", target="_blank") What do all the symbols mean? How do you control what tags are on the map?
              li.divider(role="separator")
              li
                a(href="http://oceanview.pfeg.noaa.gov/ATN_docs/#!/help/animal-tags", target="_blank") What information is displayed for the animal tags?
              li.divider(role="separator")
              li
                a(href="http://oceanview.pfeg.noaa.gov/ATN_docs/#!/help/popup-tags", target="_blank") What am I seeing when I look at the popup tags?
              li.divider(role="separator")
              li
                a(href="http://oceanview.pfeg.noaa.gov/ATN_docs/#!/help/buoys", target="_blank") How do I view the acoustic tag detections at the buoys?
              li.divider(role="separator")
              li
                a(href="http://oceanview.pfeg.noaa.gov/erddap_tutorial/", target="_blank") What is ERDDAP and how do I use it to download data? (a more ATN-focused ERDDAP tutorial coming soon!)
      .col-sm-6.col-md-12
        h3 General Info
        hr
        p Marine animal telemetry is the technology that allows scientists to determine the behavior of animals as the animals move through the ocean and freshwater systems.  Animal telemetry devices (“tags”) yield data regarding animal responses to the coupled ocean-atmosphere and physical environment through which they are moving.  Detailed observations of animal movements and behavior in relation to critical habitats in their aquatic environment have significantly improved overall understanding of ecosystem function and dynamics.  In the past two decades, rapid technological advances in radio, acoustic, satellite and archival electronic tags that attach to animals have made it possible to collect high-quality biological and physical oceanographic observations as the animals move through their habitats.  The tags provide oceanographic and climatological data as well as data on animal movement and behavior on time scales varying from days to years, including in areas that are otherwise difficult and expensive for humans to monitor (e.g., Arctic and Antarctic regions).

        p The U.S. ATN vision is an observing system that can track aquatic animals and their habitats to provide data critical for the conservation and sustainable management of commercially harvested species, protected species, and other marine resources.  It complements existing ocean observing assets and informs ecosystem-based management, fisheries and biodiversity, marine planning, ocean modeling and forecasting, and National Ocean Policy implementation. To accomplish this, the ATN is being implemented on three foundational pillars: Alliances and Collaborations, Data Management & Delivery, and Baseline Observations.

